body {
    margin: 0;
    padding: 0;
    background-color: #E2F8FF;
}

body a {
  color: #016FAC;
}

.sidenav {
    height: 100%;
    width: 230px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #BDEAF9;
    
  }

.sidenav_background {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #7CD4F0;
    display: flex;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.topnav{
    height: 110px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    top: 0;
    background-color: #7CD4F0;
}

.info {
    display: inline-block;
    margin-bottom: 0px;
    position: relative;
    bottom: 40px; 
    margin-left: 120px;
}

.info a {
    
}

.main {
    margin-left: 55px;
    font-size: 28px;
    padding: 0px 10px;
  }
.main a {
    margin-left: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}
  
.buttons {
    margin-left: 260px;
    margin-top: 20px;
}

.buttons button {
    background-color: #BDEAF9;
    color: #016FAC;
    border: transparent;
    height: 150px;
    width: 400px;
    font-size: 25px;
    position: fixed;
}

.button2 {
    margin-left: 425px;
    background: url(assets/plussymbol.png) no-repeat center;
}
